img{
   padding: 10px; 
}
h3{
   padding-top: 8px;
}
p{
   text-align: auto;
   padding-top: 8px;
}
.img {
	float: left;
}


.content {
	background-position: left top;
	width: auto;
	float: left;
   padding-top: 20px;
   padding-right: 30px;
   padding-left: 10px;
}

.row2 {
	background-color: #e8eae9;
	width:auto;
	height: auto;
	float: left;
	border: solid 1px #dbdada;
}
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	color: #0b90d6;
   margin-bottom: 15px;
}

.about{
   padding-top: 20px;
   padding-right: 30px;
   padding-left: 10px;
}
#curso{
   color: #0b90d6;
   font-size: 20px;
}
.contact{
   padding-top: 20px;
   padding-right: 30px;
   padding-left: 10px;
}
.contact p{
   font-size: 18px;
}